@charset "utf-8";

.copy {/*-----------------about~contactのmain-copy-------------------*/
    display: table-cell;
    vertical-align: middle;
}
.copy p {
    font-size: 1rem;
    line-height: 2rem;
}
.main-copy h1 {
    display: table-cell;
    font-size: 43px;
    line-height: 56px;
    font-family: "ヒラギノ角ゴ w6",sans-serif;
    vertical-align: middle;
}/*----------------about~contactのmain-copyここまで-------------------*/


/*-------------Works.html-------------*/
.works {
    width: 900px;
    margin: 0 auto;
}

.announce h2 {
    font-size: 30px;
    line-height: 3rem;
    /* 装飾用 */
    position: relative;
    padding: 1.5rem;
    text-align: center;
}

.announce h2 span {
    font-size: 1.8rem;
    display: block;
}

.announce h2:before {
    position: absolute;
    bottom: -6px;
    left: calc(50% - 50px);
    width: 100px;
    height: 5px;
    content: '';
    border-radius: 3px;
    background: #f8ab1e;
}

/* 装飾用ここまで */

.announce p {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    font-size: 1rem;
    line-height: 2rem;
    padding-top: 30px;
    padding-bottom: 50px;
    color: rgba(25, 29, 77, 0.8)
}



.works-item img {
    width: 100%;
}

.works-item h3 {
    font-size: 10px;
    line-height: 20px;
    font-weight: bold;
    font-family: "ヒラギノ角ゴpro W6",sans-serif;
    color: #E72385;
}

.works-item p {
    display: block;
    width: 100%;
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 50px;
}

.works-grid {
    display: grid;
    gap: 3.7vw;
    grid-template-columns: 1fr 1fr;
}
.link {
    border: 1px solid rgba(25, 29, 77);
    padding: 20px;
    margin-bottom: 50px;
    font-size: 12px;
    line-height: 24px;
}
.link h3{
    font-size: 1rem;
    line-height: 1rem;
    padding-top: 16px;
}
.link h3:first-child {
    padding-top: 0;
}
.link span{
    border-bottom: 1px solid rgba(25, 29, 77);
}
/*---------------------------jQuery拡大縮小のアニメーション*/
.image-source-link {
	color: #98C3D1;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	/* ideally, transition speed should match zoom duration */
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;/*galleryの背景の透明度*/
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}
/*-------------------------フッター-------------------------*/
footer {
    background-color: #e4fad6;
}

/* レスポンシブ対応＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
@media ( max-width: 950px) {
    /*-------------------------------------about~contactのmain-copy*/
    .copy p {
        font-size: 1.5vw;
        line-height: 3vw;
    }
    .main-copy h1 {
        font-size: 6vw;
        line-height: 9vw;
    }/*-----------------------------about~contactのmain-copyここまで*/
    .works{
        width: 90vw;
    }
    .announce p{
        width: 55.5vw;
        font-size: 1.5vw;
        line-height: 3vw;
        padding-bottom: 4.6vw;
    }
    .works-grid {
        grid-template-columns: 1fr;
    }
    .works-item h3 {
        font-size: 3vw;
        line-height: 6vw;
    }
    .works-item p{
        font-size: 1.5vw;
        line-height: 3vw;
        margin-bottom: 9.2vw;
    }
}
